<div class="container d-flex justify-content-center">
    <form action="" class="col-10">
        <div class="form-group">
            <label for="title">Titulo: </label>
            <input type="text" class="form-control" name="title" placeholder="Escriba un titulo para la foto" #title autocomplete="off">
        </div>
        <div class="form-group">
            <label for="url">Url: </label>
            <input type="text" class="form-control" name="url" placeholder="URL de la foto" #url autocomplete="off">
        </div>
        <div class="form-group">
            <label for="description">Titulo</label>
            <textarea name="description" class="form-control" id="" cols="3" placeholder="Escriba una descripcion breve" #description autocomplete="off"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success" (click)="guardar(title.value,url.value,description.value)">Guardar</button>
        </div>
    </form>
</div>

<ul class="row row-flex">
    <app-gallery-photos *ngFor="let p of photos" [photos]="p"></app-gallery-photos>
</ul>