<li class="card bg-dark">
    <div class="container-img p-2">
        <img class="card-img-top" src="{{photos.url}}" alt="Card image cap">
    </div>
    <div class="card-header">
        <h3 class="text-center text-white">{{photos.title}}</h3>
    </div>
    <div class="card-body">
        <div class="card-content text-white-50">
            <p>{{photos.description}}</p>
        </div>
        <div class="d-flex justify-content-around">
            <a href="" class="nav-link btn-card text-success">Edit</a>
            <a href="" class="nav-link btn-card text-danger">Delete</a>
        </div>
    </div>
</li>