<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3>WishList</h3>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre ....." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="Imagen URL">Imagen URL:</label>
                            <input type="text" class="form-control" id="Imagen URL" placeholder="Ingresar url ....." #url>
                        </div>
                        <button type="submit" class="btn btn-outline-primary" (click)="guardar(nombre.value,url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <app-destino-viaje *ngFor="let d of destinos" 
        [destino]="d"
        (clicked)="elegido($event)"
        ></app-destino-viaje>
    </div>
</div>